*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
.idea
*.iml
README.html
.mvn/
gradle/
gradle.bat
mvnw
mvnw.cmd
build.gradle
gradlew.bat
gradlew